<h1>Todo List</h1>

<div>
    <ul>
        <% @entries.each do |entry| %>
            <li>
                <h2> <%= entry.title %> </h2>
                <p> <%= entry. description %> </p>
                <a href="/entries/<%=entry.id%>">View Entry </a>
            </li>
        <% end %>
    </ul>
</div>