<h1>Todo List</h1>

<div>
    <ul>
        <a href="/entries/new"><h2>New Entry</h2></a>
        <% @entries.each do |entry| %>
            <li>
                <h2> <%= entry.title %> </h2>
                <p> <%= entry. description %> </p>
                <a href="/entries/<%=entry.id%>">View Entry </a><br>
                <%= link_to 'Delete Entry', entry, method: :delete %>
            </li>
        <% end %>
    </ul>
</div>